[Unit]
Description=ToniePi RFID Player
After=network.target sound.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/toniepi
ExecStart=/home/pi/toniepi/venv/bin/python app/main.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target